// SPAN //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.quote{
    color:white;
    font-size: 17vw;
    display: block;
    position:relative;

    &#quote_1{
        grid-row: 1/span 1;
        text-align: left;
        right: 6%;
    }
    &#quote_2{
        grid-row: 3/span 1;
        text-align: right;
        bottom: 70%;
        right: 4%;
    };

    @include tablet {
		font-size: 12vw;
        &#quote_1{
            top: 30%;
        }
        &#quote_2{
            bottom: 26%;
        }
	};

    @include laptop{
        font-size: 9vw;
        &#quote_1{
            top: 20%;
        }
    };
    @include desktop{
        font-size: 5em;
        &#quote_1{
            top: 28%;
            right: 5%;
        }
        &#quote_2{
            right: 7%;
            bottom: 100%;
        }
    };
};

.orange{
    color: map-get($nuance-color, ligth1);
}

.italic{
    font-style: italic;
}


// ICONES //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.grande_icone{
    font-size: 1em;
    color: white;
}

.medium_icone{
    font-size: 2.5em;
    color: white;

    &.grey{
        color: map-get($nuance-grey, ligth1 );
    }
}

.little_icone{
    font-size: 1.3em;
    color: map-get($nuance-color, ligth1);
};

// BOUTONS //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.more{
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top:3vh;
    height: 5vh;
}

.ico_slide#txt_introduction{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    position: relative;
    bottom: 50%;

    .punt_blc{
        background-position: 50%;
        width: 6vw;
        height: 100%;
        margin: 0% 2%;
        @include div-image(off,contain);
        @include tablet {width: 5vw;};
        @include laptop{width: 3vw;};
        @include desktop{width:1.7vw};
    };
};
.ico_slide{
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: center;
    @include desktop{height: 10%;}
    .punt_blc{
        background-position: 50%;
        width: 6vw;
        height: 100%;
        margin: 0% 2%;
        @include div-image(off,contain);
        @include desktop{width: 7%;margin: 0% 2% 0% 2%;}
    };
};

.liste{
    width: 100%;
    .no_deco{
        list-style: none; 
        padding: 0;
        margin:0;
    };
};
