// V A R I A B L E S /////////////////////////////////////////////////////////////////////////////////////////////////////////
$break-point:(
	mobile: 576px,
	tablet: 768px,
	laptop: 1024px,
	desktop: 1200px,	
)!default;

// M I X I N S ///////////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin tablet {
	@media (min-width: 596px) and (max-width: 768px) {
		@content
	  }
};

@mixin laptop {
	@media (min-width: 769px) and (max-width: 992px) {
		@content
	  }
};

@mixin desktop {
	@media (min-width: 992px){
		@content
	  }
}