#parcours{
    background-color: map-get($nuance-grey,ligth2);
    font-size: 3vw; 
    z-index: 5;
    padding: 15% 0%;
    height: 100%;
    overflow: scroll;
    @include tablet {
        padding: 6% 0%;
        font-size: 2vw;
    };
    @include laptop {
        padding:0;
        font-size: 1.7vw;
    };
    @include desktop {
        overflow: initial;
        font-size: 0.8vw;
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 65% 1fr;
        padding: 5% 0%;};
    .subSection{
        display:flex;
        align-items: center;
        margin-bottom: 15%;
        @include desktop{display: none;}
        &#etudes{
            margin: 20% 0% 11% 0%;
            @include laptop {margin: 5% 0% 10% 0%;};
        }

        .title_subSection{
            font-family: "Roboto Slab", serif;
            text-transform: uppercase;
            font-size: 9vw;
            line-height: 90%;
            color: transparent;
            background: map-get($nuance-grey, ligth1);
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            text-shadow: 0px 8px 16px map-get($nuance-grey, ligth2);
            margin: 0;
            padding-left: 20%;
            @include tablet { font-size: 7vw;}
            @include laptop {padding-left: 18%;font-size: 6vw;margin-top:9%};
        };
    }

    .parcours_part1{
        grid-column: 1/span 1;
        
        .parcours_dropdow{
            position: relative;
            top: 0%;
            margin-bottom: 2%;
            @include desktop {margin-bottom: 0 ;grid-row: 1/span 2;}

            .box_hidden{
                grid-row: 1/span 1;

                position: absolute;
                bottom:0%;

                z-index: 1;
    
                display: none;
                flex-direction: column;
                padding-left:17.2%;
                background-color: darken(map-get($nuance-grey, ligth2),9%);
            };
        }

        .parcours_scroll{
            overflow: scroll;
            height: 35vw;
            @include tablet {overflow: initial; height: initial;}
            @include laptop {overflow: initial; height: initial;}
            @include desktop {overflow: initial; height: initial;}
        }

        .box{
        z-index: 2;

        position: relative;
        top:0%;

        display: flex;

        background-color: darken(map-get($nuance-grey, ligth2),3%);
      
        padding-left: 15%;
        @include laptop {padding-left: 12%;};
        @include desktop {padding-left: 5%;}

        &:not(#reconversion){
            margin: 15% 0%;
            @include laptop {margin: 2% 0%;};
            @include desktop {margin: 2% 11%;height: 10vh;min-height: min-content; padding:1%}
        }

            .box_part1{
                width: 100%;
                z-index: 3;
                h3{
                    font-size: 1.6em;
                    color:map-get($nuance-color, ligth3);
                    display: block;
                    position: relative;
                    bottom: 15px;
                };

                .sub_h3{
                    color:darken(map-get($nuance-color, ligth3),20%);
                    position: relative;
                    bottom: 20px;
                }

                h4{
                    display: block;
                    position: relative;
                    padding-left: 11%;
                    bottom: 15px;
                    font-size: 1.2em;
                    color:darken(map-get($nuance-color, ligth3),20%)
                }

                .sub_h4{
                    padding-left: 11%;
                    font-size: 0.8em;
                    position: relative;
                    bottom: 30px;
                };

            }
        };

        .annee{
            font-size: 2em;
            @include laptop {width: 1.7em;}
            font-family: "Roboto Slab", serif;
            font-weight: lighter;
            line-height: 5px;
    
            &.now{
                padding-left: 15%;
                z-index: 3;
                background-color: map-get($nuance-grey, ligth0);
                clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
                padding: 0% 5%;
                height: 3.4em;
                position: relative;
                bottom: 40px;
                width: 10em;
                @include laptop {width: 7em;}
                text-align: right;
                right: 2.6em;
            };
    
            &.post{
                margin-right: 14%;
                position: relative;
                bottom: 8px;
                margin-left: 1.7%;
                text-align: right;
                @include desktop{margin-left: 6.7%;}
            }
        }
    }
    .parcours_part2{
        position: relative;

        .tilde{
            display: grid;
            grid-template-columns: 48% 48%;
            grid-template-rows: 48% 48%;
            grid-gap: 4%;

            padding: 0% 6% 23% 14%;
            @include laptop{padding: 0% 6% 5% 14%;}
            @include desktop{
                grid-column: 2/span 1;
                grid-row: 1/span 1;
            }
            .informations{
                background-color: darken(map-get($nuance-grey, ligth2),3%);
                padding-left: 10%;
                

                height: fit-content;

                display: flex;
                flex-direction: column;
                justify-content: center;
                @include laptop{margin-bottom: 3%;}
                &#cess{
                    background-color: map-get($nuance-grey, ligth0);
                };

                h4{
                    font-family: "Roboto Slab", serif;
                    font-weight: lighter;
                    color: lighten(map-get($nuance-grey,ligth2),15%);
                }

                h3{
                    display: block;
                    position: relative;
                    margin:0;
                    font-size: 1.2em;
                    color:darken(map-get($nuance-color, ligth3),20%)
                }

            }
        }
    }

    .parcours_part3{
        display:flex;
        flex-direction: column;
        height: 60%;
        @include desktop{
            grid-column: 2/span 1;
            grid-row: 2/span 1;
        }
        #hobby{
            margin-bottom: 6%;
        }

        .items_hobby{
            padding: 0% 14% 10%;

            div{
                align-items: center;

                .medium_icone{
                    padding-right: 10%;
                }
            }

            h3{
                font-size: 1.2em;
                color:darken(map-get($nuance-color, ligth3),20%)
            }
        }
        
    }
}


