//_GRAPH
.chart_and_labels{
	grid-column: span 2;

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;

	justify-items: center;

	&.reverse{
		.chart{
			grid-column: 2/span 1;
		}
		.labels{
			grid-column: 1/span 1;
			.label{
				flex-direction: row-reverse;
				.label_img{
					margin-right: 0;
					margin-left: 15px;
				}
			}
		}
	}

	.chart{
		grid-column: 1/span 1;
		position: relative;
		.chart_titre{
			width: 100%;

			font-family: $roboto;
			font-weight: lighter;
			color: white;
			font-size: 1.1em;
			text-transform: uppercase;
			text-align: center;

			position: absolute;
		};

	};

	.labels{
		grid-column: 2/span 2;

		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 100%;

		.label{
			width: 100%;
			height: 15%;
			display: flex;
		

		.label_img{
			width: 15px;
			height: 15px;
			background-image: url(map-get($image, labels));
			background-size:cover;
			margin-right: 15px;

			&.label_2{
				background-position: 100% 25%;
			}

			&.label_3{
				background-position: 100% 50%;
			}

			&.label_4{
				background-position: 100% 75%;
			}
			&.label_5{
				background-position: 100% 100%;
			}
		}
	};
	}
};
