.onglet {
  box-shadow: 4px 22px 19px -20px rgba(0, 0, 0, 0.516), 12px 8px 15px -5px #000000a8;
  box-shadow: 14px 6px 13px -3px rgba(0, 0, 0, 0.516);
  position: relative;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  text-align: right;
  color: #da7b48;
  border-radius: 0px 5px 5px 0px;
  padding-left: 3%;
}
@media only screen and (max-width: 576px) {
  .onglet {
    font-size: 0.8em;
  }
}
.onglet#onglet_1 {
  text-align: center;
  background-color: #da7b48;
  z-index: 7;
  padding: 5% 0% 5% 0%;
  grid-row: 1/span 1;
  grid-column: 2/2;
}
.onglet#onglet_1 .onglet__txt {
  font-weight: bolder;
  color: white;
}
.onglet#onglet_2 {
  background-color: #494c4c;
  z-index: 6;
  grid-row: 2/span 2;
}
.onglet#onglet_3 {
  background-color: #414444;
  z-index: 5;
  grid-row: 2/span 3;
}
.onglet#onglet_4 {
  background-color: #303232;
  z-index: 4;
  grid-row: 2/span 4;
}
.onglet#onglet_5 {
  background-color: #1e2020;
  z-index: 3;
  grid-row: 2/span 5;
}
.onglet#onglet_5 i {
  font-size: 2em;
  padding: 9px;
  transition: color 0.3s;
}
.onglet#onglet_5 i:hover {
  color: #e7a988;
}
.onglet:not(#onglet_1) .onglet__txt {
  font-weight: normal;
  margin-bottom: 25px;
}

#presentation {
  grid-row: 1/span 6;
  grid-column: 1/span 1;
  display: grid;
  grid-template-rows: 40% 20% 40%;
  padding-left: 10%;
  background-color: #da7b48;
  color: #171818;
  box-shadow: 12px 8px 15px -5px #000000;
  z-index: 5;
}
@media only screen and (max-width: 576px) {
  #presentation {
    grid-template-rows: 50% 20% 30%;
  }
  #presentation #bulle {
    top: 25%;
  }
  #presentation #bulle #txt_bulle {
    font-size: 2.3em;
  }
}
#presentation #illustration {
  background-image: url("../images/Moi1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  width: 50%;
}
#presentation #bulle {
  background-image: url("../images/Click.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  position: relative;
  top: 15%;
  right: 5%;
  transition: top 0.5s;
}
#presentation #bulle .zone_clicable {
  width: 100%;
  height: 40%;
  position: absolute;
}
#presentation #bulle #txt-bulle {
  color: #da7b48;
  font-size: 3em;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding-left: 12%;
  padding-top: 15%;
}
#presentation #nom h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3vw;
  margin: 8% auto 0% auto;
  color: #e7a988;
}
#presentation #nom h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin: 0 13% 0 auto;
  font-size: 3.2vw;
  text-align: right;
}
#presentation #introduction {
  color: #1e2020;
  font-size: 1.2vw;
  text-align: center;
  font-style: italic;
  padding: 13% 13% 0% 0%;
}
#presentation #introduction .txt-slide {
  width: 80%;
  height: 10em;
  margin: auto;
}

#competences {
  background-color: #494c4c;
  z-index: 6;
  display: grid;
  grid-template-columns: 55% 45%;
}
#competences #compet_part1 {
  grid-column: 1/span 1;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #3f4242;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  padding: 5% 12% 0% 12%;
}
#competences #compet_part2 {
  grid-column: 2/span 1;
  display: grid;
  grid-template-rows: 40% 60%;
  box-sizing: border-box;
  padding: 5% 25% 5% 10%;
}
#competences #compet_part2 #langues {
  grid-row: 1/span 1;
}
#competences #compet_part2 #soft_skills {
  grid-row: 2/span 1;
}
#competences #compet_part2 .liste {
  width: 100%;
}
#competences #compet_part2 .liste .no_deco {
  list-style: none;
}

#parcours {
  background-color: #414444;
  display: grid;
  grid-template-columns: 50% 40%;
  z-index: 5;
  padding: 5% 10% 5% 0%;
}
#parcours .parcours_part1 {
  grid-column: 1/span 1;
  display: grid;
  grid-template-rows: 23% repeat(4, 16%) 1fr;
  grid-gap: 1.5%;
}
#parcours .parcours_part1 .box {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  background-color: #3a3c3c;
  padding-left: 15%;
}
#parcours .parcours_part1 .box .box_part1 {
  width: 100%;
  z-index: 3;
}
#parcours .parcours_part1 .box .box_part1 h3 {
  font-size: 1.6em;
  color: white;
  display: block;
  position: relative;
  bottom: 15px;
}
#parcours .parcours_part1 .box .box_part1 .sub_h3 {
  color: #eec2aa;
  position: relative;
  bottom: 20px;
}
#parcours .parcours_part1 .box .box_part1 h4 {
  display: block;
  position: relative;
  padding-left: 11%;
  bottom: 15px;
  font-size: 1.2em;
  color: #eec2aa;
}
#parcours .parcours_part1 .box .box_part1 .sub_h4 {
  padding-left: 11%;
  font-size: 0.8em;
  position: relative;
  bottom: 30px;
}
#parcours .parcours_part1 .box_hidden {
  grid-row: 1/span 1;
  position: absolute;
  z-index: 1;
  display: flex;
  padding-left: 17.2%;
  width: 80%;
  height: 100%;
  background-color: #2b2d2d;
}
#parcours .parcours_part1 .hidder {
  width: 85%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: flex;
  background-color: #3a3c3c;
}
#parcours .parcours_part1 .annee {
  font-size: 2em;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  line-height: 5px;
}
#parcours .parcours_part1 .annee.now {
  padding-left: 15%;
  z-index: 3;
  background-color: #1e2020;
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
  padding: 0% 5%;
  height: 3.4em;
  position: relative;
  bottom: 40px;
  width: 10em;
  text-align: right;
  right: 2.6em;
}
#parcours .parcours_part1 .annee.post {
  margin-right: 14%;
  position: relative;
  bottom: 8px;
  margin-left: 1.7%;
  text-align: right;
}
#parcours .parcours_part2 {
  grid-column: 2/span 1;
  position: relative;
  left: 20%;
  top: 30%;
}

#reseaux {
  background-color: #1e2020;
  z-index: 1;
}

.hover-white {
  transition: color 0.3s;
}
.hover-white:hover {
  color: white;
}

.txt-slide:not(#first) {
  display: none;
}
.txt-slide#first {
  display: inherit;
}

.link-hover {
  color: #e7a988;
  transition: color 0.3s;
}
.link-hover:hover {
  color: #efc8b2;
}
.link-hover:active {
  color: white;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes moveDiv {
  100% {
    padding-left: 91%;
  }
}
@keyframes agitBulle {
  100% {
    top: 10%;
  }
}
.quote {
  color: white;
  font-size: 5em;
  display: block;
  position: absolute;
}
.quote#quote_1 {
  top: 63%;
  left: 6%;
}
.quote#quote_2 {
  right: 12%;
  top: 82%;
}

.orange {
  color: #e7a988;
}

.italic {
  font-style: italic;
}

.grande_icone {
  font-size: 5em;
  color: white;
}

.medium_icone {
  font-size: 2.5em;
  color: white;
}
.medium_icone.grey {
  color: #303232;
}

.little_icone {
  font-size: 1.3em;
  color: #e7a988;
}

.more {
  width: 40%;
  justify-content: center;
  height: 100%;
}

.ico_slide {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}
.ico_slide .punt_blc {
  background-image: url("../images/on_off.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  width: 7%;
  height: 100%;
  margin: 0% 2% 0% 2%;
}

.chart_and_labels {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-items: center;
}
.chart_and_labels.reverse .chart {
  grid-column: 2/span 1;
}
.chart_and_labels.reverse .labels {
  grid-column: 1/span 1;
}
.chart_and_labels.reverse .labels .label {
  flex-direction: row-reverse;
}
.chart_and_labels.reverse .labels .label .label_img {
  margin-right: 0;
  margin-left: 15px;
}
.chart_and_labels .chart {
  grid-column: 1/span 1;
  position: relative;
}
.chart_and_labels .chart .chart_titre {
  width: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
}
.chart_and_labels .labels {
  grid-column: 2/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.chart_and_labels .labels .label {
  width: 100%;
  height: 15%;
  display: flex;
}
.chart_and_labels .labels .label .label_img {
  width: 15px;
  height: 15px;
  background-image: url("../images/labels.png");
  background-size: cover;
  margin-right: 15px;
}
.chart_and_labels .labels .label .label_img.label_2 {
  background-position: 100% 25%;
}
.chart_and_labels .labels .label .label_img.label_3 {
  background-position: 100% 50%;
}
.chart_and_labels .labels .label .label_img.label_4 {
  background-position: 100% 75%;
}
.chart_and_labels .labels .label .label_img.label_5 {
  background-position: 100% 100%;
}

.progress_bar {
  width: 100%;
  height: 11px;
  background-color: #303232;
  border-radius: 24px;
  margin: 5% 0% 7% 0%;
}
.progress_bar .progress {
  width: 97%;
  height: 11px;
  background-color: #da7b48;
  border-radius: 24px;
  margin: 5% 0% 7% 0%;
}

.progress_punt {
  display: flex;
  width: 100%;
  height: 30px;
  background-image: url("../images/Progress_punt.png");
  background-size: 250px;
  background-repeat: no-repeat;
  margin: 2% 0% 10% 0%;
  background-position: 0px bottom;
}
.progress_punt .p_progress {
  width: 100%;
  height: 30px;
  background-image: url("../images/Progress_punt.png");
  background-size: 250px;
  background-repeat: no-repeat;
  margin: 2% 0% 10% 0%;
  background-position: 0px top;
}
.progress_punt .d_progress {
  height: 30px;
  margin: 2% 14% 10% 0%;
}

body {
  background-color: #0b0b0b;
  color: #e7a988;
  font-family: "Open Sans", sans-serif;
}

#grid_master {
  display: grid;
  grid-template-columns: 31% 3% 60% 3%;
  grid-template-rows: 20% 20% 20% 20% 15% 5%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  #grid_master {
    grid-template-columns: 88% 12%;
  }
}

#gauche {
  grid-row: 1/span 6;
  color: #171818;
  z-index: 7;
}

#droite {
  grid-column: 2/span 3;
  grid-row: 1/span 6;
  display: grid;
  grid-template-rows: 15% 5% 20% 20% 20% 15% 5%;
  grid-template-columns: 4.5% 91% 4.5%;
  color: #171818;
  z-index: 6;
}
#droite #cv {
  grid-column: 1/span 3;
  grid-row: 1/1;
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  color: #3f4242;
}

.droite {
  grid-column: 1/span 2;
  grid-row: 2/span 5;
  color: #e7a988;
}

.container {
  display: flex;
}
.container.justify_right {
  justify-content: flex-end;
}
.container.align_center {
  align-items: center;
}

.section {
  box-shadow: 4px 22px 19px -20px rgba(0, 0, 0, 0.516), 12px 8px 15px -5px #000000a8;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 0px;
}

a {
  color: #da7b48;
  transition: color 0.2s;
}
a:hover {
  color: #e7a988;
}

#portfolio {
  background-color: #303232;
  z-index: 2;
  padding: 5% 5% 5% 15%;
  overflow: scroll;
}
#portfolio .projet {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  position: relative;
}
#portfolio .projet.projet_1 {
  z-index: 4;
}
#portfolio .projet.projet_2 {
  z-index: 3;
  top: 110px;
}
#portfolio .projet.projet_3 {
  z-index: 2;
  top: 220px;
}
#portfolio .projet.projet_4 {
  z-index: 1;
  top: 330px;
}
#portfolio .projet .projet_title {
  position: absolute;
  top: 80px;
  width: 61%;
  z-index: 1;
  text-align: center;
}
#portfolio .projet .projet_title h2 {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-size: 4em;
  text-shadow: 5px 5px 10px #000000;
  line-height: 0%;
}
#portfolio .projet .projet_title h3 {
  font-size: 1.5em;
  text-shadow: 5px 5px 10px #000000;
  line-height: 0%;
}
#portfolio .border_img {
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  background-color: #303232;
  width: 85%;
  height: 300px;
}
#portfolio .portfolio_img {
  clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  height: 98%;
  opacity: 0.5;
  filter: saturate(0);
  transition: opacity 0.3s, filter 0.4s;
}
#portfolio .portfolio_img:hover {
  opacity: 1;
  filter: none;
}
#portfolio .portfolio_img#fx_bubbles {
  background-image: url("../images/template1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .portfolio_img#planet_cbx {
  background-image: url("../images/template1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio .portfolio_img#flying_fish {
  background-image: url("../images/template1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.row_1 {
  grid-row: 1/1;
}

.row_2 {
  grid-row: 2/2;
}

.row_3 {
  grid-row: 3/3;
}

/*# sourceMappingURL=style.css.map */
